@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:wght@600&family=Kenia&family=Manrope:wght@500&display=swap');

:root {
	--font-family: 'Manrope', san-serif;
	--gradient-bar: linear-gradient(103.22deg, #e7d50d,-13.86%, #ce9678);
	--gradient-text: linear-gradient(120.79deg, #1612ff, 1.84%, #ec6200);
	--color-bg: rgba(0, 182, 255, 1);
	--color-footer:rgba(0, 182, 255, 1) ;
	--color-blog: #042c54;
	--color-text: #81afdd;
	--color-subtext: #ff8a71;
	--color-secondary : #711906;

}